<%- include("header") -%>


<article id="top" class="wrapper style1">
    <div class="container">
        <div class="row">
            <div class="col-4 col-5-large col-12-medium">
                
            </div>
            <div class="col-8 col-7-large col-12-medium">
                <header>
                    <h1> <strong>Login</strong>.</h1>
                </header>
                <p>Faça seu login para postar no site</p>
                <a href="#work" class="button large scrolly">Login</a>
                <a href="#work" class="button large scrolly">Register</a>
            </div>
        </div>
    </div>
</article>

<%- include("footer") -%>